@{
    ViewBag.Title = "Brett Scherzer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am currently a senior at Ohio University studying MIS with a minor in Analyics. I have three sisters that are all younger then me. I am orignally from Cleveland so I am a die hard Browns fan. Unfortunately they did not live up to their expectations this year. </p>
