@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 Fake Ave <br />
    Athens, OH 45701<br />
    Phone: 123-335-3333
</address>

<address>
    <p>School Email: <a href="mailto:bs609016@ohio.edu">bs609016@ohio.edu</a><br /></p>
    
</address>