@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">If you want to find out more about me professionally or want to contact me you can connect with me on LinkedIn with the button below.</p>
    <p><a href="www.linkedin.com/in/brett-scherzer" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <p>
            Ohio University offers more than 250 programs, including undergraduate and graduate-level study with outstanding professors.
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rocky River High School</h2>
        <p>This is the high school that I went to. If you want to learn more about it click the button below.</p>
        <p><a class="btn btn-default" href="https://www.rrcs.org/rockyriverhighschool_home.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>COB LMS</h2>
        <p>This is a website to access some classes for College of Business students at Ohio University.</p>
        <p><a class="btn btn-default" href="https://ohiocoblms.azurewebsites.net/login.aspx">Learn more &raquo;</a></p>
    </div>
</div>